    <h1>Всі ігри</h1>
    <h3>@Model.currentCategory</h3>
    <div class= "row mt-5 mb-2">
        @{
            foreach (Game game in Model.AllGames)
            {
            @Html.Partial("AllGames", game)
            }
         }
    </div>
 